/*
  map_game_nature
  Style.
*/
/*MIXINS*/
@mixin text($weight, $size, $lineh, $color, $fontfamily) {
    font-weight: $weight;
    font-size: $size;
    line-height: $lineh;
    color: $color;
    font-family: $fontfamily;
}
/*BREAK POINTS*/
$break-small: 500px;
$break-middle: 900px;
$break-large: 1200px;
/*COLORS*/
$primarycolor: #f55959;
$secondarycolor: #8CD4F5;
$whitecolor: #FFF;
$graycolor: #eaeaea;
$blackcolor: #333;
$greencolor: #98F97E;
/*FONTS*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900italic,900|Montserrat:400,700);
$primaryfont: 'Montserrat', sans-serif;
$secondaryfont: 'Lato', sans-serif;
/*ID*/
#map,
body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}
.scorenav {
    position: absolute;
    z-index: 99999;
    background: $whitecolor;
    padding: 20px;
    right: 0;
    margin: 20px;
    border: 2px solid #eaeaea;
    display: none;
}
#openmenubutn {
    cursor: pointer;
}
#finishbutn {
    cursor: pointer;
}
#menu {
    height: 100%;
    position: absolute;
    background-color: $secondarycolor;
    z-index: 99999;
    width: 100%;
    display: none;
    h1 {
        padding: 40px;
        @include text(500, 50px, inherit, #fff, $primaryfont);
    }
    p {
        color: #FFF;
        @include text(500, 25px, 40px, #fff, $secondaryfont);
        padding-left: 40px;
        padding-right: 400px;
        margin-top: -20px;
    }
    ul {
        list-style: none;
        li {
            @include text(500, 25px, 72px, #fff, $secondaryfont);
        }
    }
}
#questionbox {
    border: 2px solid #eaeaea;
    background-color: #FFF;
    padding: 10px;
    position: absolute;
    z-index: 999999;
    bottom: 0;
    margin: 20px;
    right: 0;
    display: none;
    span {
        @include text(500, 18px, inherit, #333, $primaryfont);
        text-transform: capitalize;
    }
}
@media (max-width: 768px) {
    #questionbox {
        text-align: center;
        left: 0;
        margin-bottom: 40px;
    }
    .scorenav {
        text-align: center;
        left: 0;
    }
}
